<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{title}}</h2><br>     
  <button  class="btn btn-success" routerLink="/FormUsuario" >Nuevo usuario</button>
  <br><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Rol</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>123456</td>
        <td>john@example.com</td>
        <td><a href="#"   class="btn btn-primary">Editar</a></td>
        <td><a href="#"   class="btn btn-danger">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>


